<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="caliber">
	<listeners>
		<listener class-name="listener.Listener"></listener>
	</listeners>
	<suite-files>
		<suite-file path="driverchrome.xml"/>
		<suite-file path="home.xml"/>
		<suite-file path="manage.xml"/>
		<suite-file path="managecreate.xml"/>
		<suite-file path="managetraineeview.xml"/>
	</suite-files>
</suite>