<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ProjectTwo</display-name>
  <filter>
    <filter-name>Cors</filter-name>
    <filter-class>filter.Cors</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Cors</filter-name>
    <url-pattern>*.cors</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageServlet</display-name>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>servlet.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCreateServlet</display-name>
    <servlet-name>ManageCreateServlet</servlet-name>
    <servlet-class>servlet.ManageCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCreateServlet</servlet-name>
    <url-pattern>/ManageCreateServlet</url-pattern>
  </servlet-mapping>
</web-app>