<!--The content below is only a placeholder and can be replaced.-->

<div class='container'>
  <h1>Project 2: Caliber test automation</h1>
  <h2>Click to run tests</h2>
  <button type='button' class='btn btn-success' (click)='clickHome()'>Home Test</button>
  <button type='button' class='btn btn-success' (click)='clickManageCreate()'>ManageCreateTest</button>
  <button type='button' class='btn btn-success' (click)='clickManage()'>ManageTest</button>
  <button type='button' class='btn btn-success' (click)='clickManageYear()'>ManageYearTest</button>     
</div>

<div class='container'>
  {{ home }}
</div>

