<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="caliber">
	<suite-files>
		<suite-file path="driverchrome.xml"/>
		<suite-file path="pomhome.xml"/>
		<suite-file path="pommanage.xml"/>
		<suite-file path="pommanageyear.xml"/>
		<suite-file path="pommanagecreate.xml"/>
	</suite-files>
</suite>